body {
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
}
h2{
  font-family: Arial;
}
h3{
  font-family: Arial;
  margin: -10px 0px -10px;
}

li {
  margin: 5px 0px -2px;
  font-family: Arial;
  font-size: 15px;
}
p {
  margin-bottom: -10px;
}

#my-picture {
  width: 67px;
  height: 67px;
  border: 1px solid black;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}

.my-name h1 {
  font-family: Georgia;
  font-size: 24px;
  margin-bottom: 0px;
}

.other-details span {
  margin: 0px 0px;
  position: relative;
  font-family: Arial;
  font-size: 15px;
}

.other-details span:not(:last-child)::after {
  content: " | ";
}

.professional_summary h2 {
  margin-bottom: -5px;
}

.professional_summary span {
  font-family: Arial;
  font-size: 15px;
  text-align: justify;
}

.education-details {
  font-size: 15px;
  font-family: Arial;
  display: flex;
  justify-content: space-between;
  flex: wrap;
}

.education-details .left {
  margin-bottom: -10px;
  max-width: 60%;
  margin-right: 10px;
}

.education-details .right {
  margin-bottom: -10px;
  text-align: right;
  margin: 0px;
}

.awards li{
  font-weight: bold;
}