body{
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}

#my-picture {
  width: 67px;
  height: 67px;
  border: 1px solid black;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}

.my-name h1 {
  font-family: Georgia;
  font-size: 24px;
  margin-bottom: 0px;
}

.other-details span {
  margin: 0px 0px;
  position: relative;
  font-family: Arial;
  font-size: 15px;
}

.other-details span:not(:last-child)::after {
  content: " | ";
}

.summary h2{
    margin-bottom: -5px;
}

.summary span{
    font-family: Arial;
    font-size: 15px;
    text-align: justify;
}



